.grid{
  display: grid;
  grid-template-columns: 13rem 1px 1fr;
  height: 100%;
}

small{
  font-family: 'Montserrat', sans-serif;
  color:#A9A9A9;
  font-weight: 600;
}

footer{
  display: grid;
  justify-content: center;
  padding: 2rem;
}
