@import "../variables";

$width:200px;
$height:56px;
$red1:#D32F2F;

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.body{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
}

.p2{
  padding: 2rem;
}

.example{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.example--input{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5rem;
}

label{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.8rem;
}
input{
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid #828282;
  border-radius: 8px;
  display: inline-block;
  width: $width;
  height: $height;
  cursor: pointer;
}
.input--start-icon{
  background-image: url("../../assets/phone.png");
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid #828282;
  border-radius: 8px;
  display: inline-block;
  width: $width;
  height: $height;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0.3rem 1rem;
  background-size: 1.5rem;
}
.input--end-icon {
  background-image: url("../../assets/phone.png");
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid #828282;
  border-radius: 8px;
  display: inline-block;
  width: $width;
  height: $height;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 10rem 1rem;
  background-size: 1.5rem;
}

.input--start-icon::placeholder{
  text-indent: 2rem;
}

.input-error{
  border: 1px solid $red1;

}
.label--error{
  color:$red1;
}

.input--disabled{
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 8px;
  display: inline-block;
  width: $width;
  height: $height;
  background: #F2F2F2;
  border: 1px solid #E0E0E0;
}

input::placeholder{
  text-indent: 1rem;
}

.input-sm{
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid #828282;
  border-radius: 8px;
  display: inline-block;
  width: $width/1.2;
  height: $height/1.4;
}

.input--full-width{
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid #828282;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  height: $height
}

textarea{
  border: 1px solid #828282;
  border-radius: 8px;
}

p{
  font-family: 'Noto Sans JP', sans-serif;
  color:#828282;
  font-size: 0.6rem;
  margin: 0;
}
