<section class="p2 body">
  <section class="grid">
    <div class="example">
      <code>&lt;Input/&gt;</code>
      <div class="example--input">
        <label for="default">Label</label>
        <input type="text" id="default" placeholder="Placeholder">
      </div>
    </div>
  </section>
  <section class="grid">
    <div class="example">
      <code>&lt;Input error/&gt;</code>
      <div class="example--input">
        <label for="error" class="label--error">Label</label>
        <input type="text" id="error" placeholder="Placeholder" class="input-error">
      </div>
    </div>
  </section>
  <section class="grid">
    <div class="example">
      <code>&lt;Input disabled/&gt;</code>
      <div class="example--input">
        <label for="disabled">Label</label>
        <input type="text" id="disabled" placeholder="Placeholder" class="input--disabled">
      </div>
    </div>
  </section>
  <section class="grid">
    <div class="example">
      <code>&lt;Input size=”sm” /&gt;</code>
      <div class="example--input">
        <label for="sm">Label</label>
        <input type="text" id="sm" placeholder="Placeholder" class="input-sm">
      </div>
    </div>

    <div class="example">
      <code>&lt;Input size=”md” /&gt;</code>
      <div class="example--input">
        <label for="md">Label</label>
        <input type="text" id="md" placeholder="Placeholder">
      </div>
    </div>
  </section>
  <section>
    <div class="example">
      <code>&lt;Input fullWidth&gt;</code>
      <div class="example--input">
        <label for="full-width">Label</label>
        <input type="text" id="full-width" placeholder="Placeholder" class="input--full-width">
      </div>
    </div>
  </section>
  <section class="grid">
    <div class="example">
      <code>&lt;Input multiline row=”4” /&gt;</code>
      <div class="example--input">
        <label for="multi">Label</label>
        <textarea id="multi" placeholder="Placeholder"rows="6" cols="40"></textarea>
      </div>
    </div>
  </section>
  <section class="grid">
    <div class="example">
      <code>&lt;Input helperText=”Some interesting text”/&gt;</code>
      <div class="example--input">
        <label for="input-helper">Label</label>
        <input type="text" id="input-helper" placeholder="Placeholder">
        <p>Some interesting text</p>
      </div>
    </div>
  </section>
  <section class="grid">
    <div class="example">
      <code>&lt;Input startIcon /&gt;</code>
      <div class="example--input">
        <label for="input--start-icon">Label</label>
        <input type="text" id="input--start-icon" placeholder="Placeholder" class="input--start-icon">
      </div>
    </div>
    <div class="example">
      <code>&lt;Input endIcon /&gt;</code>
      <div class="example--input">
        <label for="input--end-icon">Label</label>
        <input type="text" id="input--end-icon" placeholder="Placeholder" class="input--end-icon">
      </div>
    </div>
  </section>
</section>
