@import "../variables";

$blue1: #3D5AFE;
$grey1: #E0E0E0;
$grey2: #9E9E9E;
$dark-grey1:#455A64;
$dark-grey2: #1C313A;
$red1: #D32F2F;
$red2: #9A0007;

$width: 5rem;
$height: 2rem;

section{
  background-color: white;
}
.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 2rem;
  grid-row-gap: 2rem;
}

.item{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.8rem;
}

button{
  width: 5rem;
  height: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.2);
  border: none;
}

.button-grid{
  display: grid;
  justify-content: center;
  align-items: center;
}
.button-grid-left{
  grid-template-columns: 1rem 1fr;

}
.button-grid-right{
  grid-template-columns: 1fr 1rem;

}

.button{
  background-color: $grey1;
  color: #3F3F3F;
  border: none;
}
.button-outline{
  border: 1px solid $blue1;
  color: $blue1;
  background-color: white;
  box-shadow: none;
}
.button-outline-hover{
  border: 1px solid $blue1;
  color: $blue1;
  background-color:rgba(41, 98, 255, 0.1);;
  box-shadow: none;
}
.button-text{
  color: $blue1;
  background-color: white;
  box-shadow: none;
}
.button-text-hover{
  background-color:rgba(41, 98, 255, 0.1);;
  box-shadow: none;
  color: $blue1;
}

.button-disable-shadow{
  color: white;
  background-color: $blue1;
  box-shadow: none;
  border: none;
}
.button-disabled{
  color: $grey2;
  background-color: $grey1;
  border: none;
}
button i {
  font-size: 1rem;
  display: inline;
}

.button-md{
  color: white;
  background-color: $blue1;
  border: none;
}

.button-small{
  color: white;
  background-color: $blue1;
  border: none;
  width: $width/1.2;
  height: $height/1.1;
}
.button-large{
  color: white;
  background-color: $blue1;
  border: none;
  width: $width * 1.4;
  height: $height * 1.2;
}

.button-secondary{
  color: white;
  background-color: $dark-grey1;
  border: none;
}

.button-danger{
  color: white;
  background-color: $red1;
  border: none;
}

.button-danger-hover{
  color: white;
  background-color: $red2;

}
.button-secondary-hover{
  color: white;
  background-color: $dark-grey2;

}
.button-hover{
  background-color: $grey1;
  color: #3F3F3F;
  border: none;

}
.button-primary-hover{
  background-color: #0039CB;
  color: white;
}
