<section class="grid">
  <div class="item">
    <code>&lt;Button/&gt;</code>
    <button class="button">Default</button>
  </div>


  <div class="item">
    <code>&lt;Button disableShadow /&gt;</code>
    <button class="button-disable-shadow">Default</button>
  </div>

</section>
<section class="grid">
  <div class="item">
    <code>&lt;Button variant=”text” /&gt;</code>
    <button class="button-text">Default</button>
  </div>
  <div class="item">
    <code>&:hover, &:focus</code>
    <button class="button-text-hover">Default</button>
  </div>
</section>
<section class="grid">
  <div class="item">
    <code>&lt;Button variant=”outline” /&gt;</code>
    <button class="button-outline">Default</button>
  </div>
  <div class="item">
    <code>&:hover, &:focus</code>
    <button class="button-outline-hover">Default</button>
  </div>
</section>
<section class="grid">
  <div class="item">
    <code>&lt;Button disabled /&gt;</code>
    <button class="button-disabled">Default</button>
  </div>
</section>

<section class="grid">
  <div class="item">
    <code>&lt;Button startIcon=”local_grocery_store” /&gt;</code>
    <button class="button-disable-shadow button-grid button-grid-left"><i class="material-icons">
      local_grocery_store</i>Default</button>
  </div>
  <div class="item">
    <code>&lt;Button endIcon=”local_grocery_store” /&gt;</code>
    <button class="button-disable-shadow button-grid button-grid-right">Default<i class="material-icons">local_grocery_store</i></button>
  </div>
</section>
<section class="grid">
  <div class="item">
    <code>&lt;Button size=”sm” /&gt;</code>
    <button class="button-small">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button size=”md” /&gt;</code>
    <button class="button-md">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button size=”lg” /&gt;</code>
    <button class="button-large">Default</button>
  </div>
</section>
<section class="grid">
  <div class="item">
    <code>&lt;Button color=”default” /&gt;</code>
    <button class="button">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button color=”primary” /&gt;</code>
    <button class="button-md">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button color=”secondary” /&gt;</code>
    <button class="button-secondary">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button color=”danger” /&gt;</code>
    <button class="button-danger">Default</button>
  </div>
</section>
<section class="grid">
  <div class="item">
    <code>&:hover, &:focus</code>
    <button class="button-hover">Default</button>
  </div>
  <div class="item">
    <code></code>
    <button class="button-primary-hover">Default</button>
  </div>
  <div class="item">
    <code></code>
    <button class="button-secondary-hover">Default</button>
  </div>
  <div class="item">
    <code></code>
    <button class="button-danger-hover">Default</button>
  </div>
</section>
