<section class="grid">
  <div class="item">
    <code>&lt;Button/&gt;</code>
    <button class="button">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button variant=”outline” /&gt;</code>
    <button class="button-outline">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button variant=”text” /&gt;</code>
    <button class="button-text">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button disableShadow /&gt;</code>
    <button class="button-disable-shadow">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button disabled /&gt;</code>
    <button class="button-disabled">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button startIcon=”local_grocery_store” /&gt;</code>
    <button class="button-disable-shadow button-grid button-grid-left"><i class="material-icons">
      local_grocery_store</i>Default</button>
  </div>
  <div class="item">
    <code>&lt;Button endIcon=”local_grocery_store” /&gt;</code>
    <button class="button-disable-shadow button-grid button-grid-right">Default<i class="material-icons">local_grocery_store</i></button>
  </div>
  <div class="item">
    <code>&lt;Button size=”sm” /&gt;</code>
    <button class="button-small">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button size=”md” /&gt;</code>
    <button class="button-md">Default</button>
  </div>
  <div class="item">
    <code>&lt;Button size=”lg” /&gt;</code>
    <button class="button-large">Default</button>
  </div>
</section>
